<ion-header [translucent]="true">
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title stacked class="my-title" color="primary">
      <div font size=1 align="center"><i>
          <H6>Mis Servicios</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title color="light">
      <div align="center" style="font-size: 0.7rem"><strong>TransportApp 1.0</strong></div>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-content padding class="tab5-content">
  <div #map2 id="map2"></div>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="light" (click)="ubicacionAlert()">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>    
  </ion-fab>


  <!--<ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button (click)="ubicacionActual()" color="warning">
      <ion-icon name="location-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>

