<ion-header [translucent]="true">
  <ion-toolbar color="light">    

    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title stacked class="my-title" color="primary">
      <div font size=1 align="center"><i>
          <H6>Mis Servicios</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title color="light">
      <div align="center" style="font-size: 0.7rem"><strong>TransportApp 1.0</strong></div>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-content padding class="tab5-content">

  <div #map id="map" ></div>

  <div #mapDestino id="mapDestino"></div>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon ios="apps-outline"></ion-icon>
    </ion-fab-button>    
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="regresarEvento()"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="success" (click)="ubicacionAlert()"><ion-icon name="checkmark-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>    
  </ion-fab>


  <!--<ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button (click)="ubicacionActual()" color="warning">
      <ion-icon name="location-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>

