<ion-nav>
    <ion-header>
        <div class="center">TransportApp </div>
        
         
            <ion-title >
              <div class="login-title" color="dark"><strong>Iniciar Sesión</strong></div>
            </ion-title>
        
    </ion-header>  
    
  
    <ion-content id="principal" color="dark" padding>  
      <form #form="ngForm" (ngSubmit)="login(form)" class="login-form">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" >
              <ion-content>
                <h3> {{ count }} -- {{a}}</h3>
              </ion-content>
  
              <div padding>                                                  
                <ion-item>
                  <ion-input [(ngModel)]="account.email" name="user" type="text" placeholder="Usuario" ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="account.password" name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
                </ion-item>
              </div>
              <br>  
              <div padding>
                <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Ir </ion-button>
              </div>              
              <br>
              <div class="center">
                <a [routerLink]="['/registro']">Registrarse</a>
              </div>              
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>  
  </ion-nav>