.login-title {
    
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 150px;
    font-weight: bold;
    color: #FFFFFF;
}

.login-form {
    margin-top: 50px;
    text-align: left;
    
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.loginbttm {
    padding: 0px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;    
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.center {
    text-align: center;
}
