<ion-header [translucent]="true">
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title stacked class="my-title" color="primary">      
      <div font size=1 align="center"><i>
          <H6>Mis Vehículos</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-footer>
  <ion-toolbar color="primary" >
    <ion-title color="light">
      <div align="center" style="font-size: 0.7rem"><strong>TransportApp 1.0</strong></div>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-content>
  <ion-card *ngFor="let v of vehiculos">    
    <ion-card-header>
      <ion-card-subtitle>{{v.placa}}</ion-card-subtitle>
      <ion-card-title text-wrap>{{v.capacidad}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tipo de vehículo: {{v.tipo}}
      <br>      
    </ion-card-content>
  </ion-card>
</ion-content>
