<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar color="dark" >  
      <ion-title 
        stacked class="my-title" 
        color="warning">
        <div font size=4 align="center"><strong>TransportApp</strong></div>
      </ion-title>
    </ion-toolbar>
  
  </ion-header>
  <ion-menu side="start" menuId="menuPrincipal" contentId="principal" >
    <ion-header [translucent]="true">
      <ion-toolbar color="primary" >
        <ion-buttons slot="start">
          <ion-menu-button color="warning" menu="primerMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title 
          stacked class="my-title" 
          color="light">
          <div font size=4 align="center"><strong>Menú</strong></div>
        </ion-title>
      </ion-toolbar>
      <ion-menu-toggle>
        <ion-item >
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label> {{usuario}} </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-header>

    <ion-footer >
      <ion-menu-toggle>
        <ion-item  (click)="openAlert()">
          <ion-icon name="power-outline" slot="start"></ion-icon>
          <ion-label color="danger">Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-toolbar color="primary" >
        <ion-title color="light">
          <div align="center" style="font-size: 0.7rem"><strong>TransportApp 1.0</strong></div>
        </ion-title>
      </ion-toolbar>
    </ion-footer>

    <ion-content>
      <!--
        Menú para el usuario
      -->
      <ion-list *ngIf="rol === '2'">
        <ion-menu-toggle>
          <ion-item routerLink="/perfil">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/servicios">
            <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>            
            <ion-label>Servicios</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <!--
        Menú para el conductor
      -->
      <ion-list *ngIf="rol === '1'">
        <ion-menu-toggle>
          <ion-item routerLink="/perfil">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
          <ion-item routerLink="/vehiculos">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Mis vehiculos</ion-label>
          </ion-item>
          <ion-item routerLink="/destino/:dato">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Servicios disponibles</ion-label>
          </ion-item>
          <ion-item routerLink="/misServicios">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Mis Servicios</ion-label>
          </ion-item>
          <ion-item routerLink="/serviciosEntregados">  
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Servicios Entregados</ion-label>
          </ion-item>
        </ion-menu-toggle>        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
  <ion-footer> 
    <ion-toolbar color="dark" >  
      <ion-title 
        stacked class="my-title" 
        color="warning">
        <div font size=4 align="center"><strong>TransportApp V1.0</strong></div>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>