<ion-header [translucent]="true">
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title stacked class="my-title" color="primary">
      <div font size=1 align="center"><i>
          <H6>Servicios Entregados</H6>
        </i></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title color="light">
      <div align="center" style="font-size: 0.7rem"><strong>TransportApp 1.0</strong></div>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-content>
  <ion-card *ngFor="let v of servicios">
    <ion-card-header>
      <ion-card-subtitle>Origen: {{v.lugarOrigen}}</ion-card-subtitle>
      <ion-card-title text-wrap>{{v.fechaOrigen | date: 'mediumDate'}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Destino: {{v.lugarDestino}}
      <br>
      {{v.fechaDestino | date: 'mediumDate'}}
      <br>
      <br> 
    </ion-card-content>

    <div *ngIf="servicios.length === 0">
      <ion-item-divider>
        <ion-chip color="danger">
          <ion-label>No se encontraron servicios.</ion-label>
        </ion-chip>
      </ion-item-divider>
    </div>
    
  </ion-card>  

</ion-content>